.friend_share {
  margin: 100px 20px 20px;
  display: flex;
  flex-direction: column;
  h2 {
    font-size: 30px;
    margin: 0;
  }
  p {
    font-size: 16px;
    color: #5e5e5e;
  }
}

.search_box {
  display: flex;
  align-items: center;
  margin: 0 20px 12px;
  gap: 12px;
  label {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 12px;
    padding: 16px;
    background-color: #f3f4f6;
    border-radius: 16px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    input {
      width: 100%;
      font-size: 16px;
    }
  }
  .search_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--nightColor);
    border-radius: 16px;
    padding: 15px 25px;
    min-width: 90px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    p {
      font-size: 16px;
      color: #fff;
    }
  }
}

.user_copy {
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 14px 0;
  border-radius: 12px;

  h3 {
    color: #5e5e5e;
    font-size: 16px;
  }
}
