.friend_share {
  margin: 100px 20px 20px;
  display: flex;
  flex-direction: column;
  h2 {
    font-size: 30px;
    margin: 0;
  }
  p {
    font-size: 16px;
    color: #5e5e5e;
  }
}

.search_box {
  display: flex;
  align-items: center;
  margin: 0 20px 12px;
  gap: 12px;
  label {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 12px;
    padding: 16px;
    background-color: #f3f4f6;
    border-radius: 16px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    input {
      width: 100%;
      font-size: 16px;
    }
  }
  .search_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--nightColor);
    border-radius: 16px;
    padding: 15px 25px;
    min-width: 90px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    p {
      font-size: 16px;
      color: #fff;
    }
  }
}

.user_copy {
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 14px 0;
  border-radius: 12px;

  h3 {
    color: #5e5e5e;
    font-size: 16px;
  }
}

.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  .modal_box {
    margin: 0 30px;
    padding: 30px 10px;
    width: 100%;
    border-radius: 16px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    .modal_profile {
      display: flex;
      flex-direction: column;
      gap: 12px;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
      img {
        width: 80px;
        height: 80px;
      }
      h2,
      p {
        margin: 0;
      }
    }
    .count_box {
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 20px;
      width: 100%;
      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        h3 {
          font-size: 32px;
          font-weight: bold;
        }
        p {
          color: #6a7282;
          font-size: 16px;
        }
      }
    }
    .add_btn {
      padding: 8px 12px;
      background-color: var(--nightColor);
      display: flex;
      align-items: center;
      border-radius: 12px;
      gap: 8px;
      min-width: 90px;
      p {
        color: #fff;
        font-size: 11px;
        font-weight: bold;
      }
    }
    .AfterApplication {
      background-color: #93949b;
    }
  }
}
