.profile_edit {
  margin: 0 20px;
  padding: 18px 0;
  border-radius: 12px;
  background-color: var(--nightColor);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 15px;
  }
}

.friend_count {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid #d9d9d9;
  padding: 20px 24px;
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    h3 {
      font-size: 30px;
    }
    p {
      font-size: 20px;
      color: #6a7282;
    }
  }
}
